* {
  max-width: 1440px;
  margin: 0px;
  list-style-type: none;
  box-sizing: border-box;
  font: 400 16px/1.8 chronicle text g1 a,chronicle text g1 b;
  color: black;
}

/*
::-webkit-scrollbar {
  display: none;
}
*/


main, #subSection2, .section1, .section2, .section3, .section4, #contacts-wrap {
  width: 100vw;
  padding-top: 50px;
}

/* Navigation */

/*
nav.navbar-horizontal {
  width: 100vw;
  height: 40px;
  background-color: lightGrey;
  overflow: scroll;
  position: fixed;
}

nav.navbar-horizontal li {
  display: flex;
  float: left;
}

nav.navbar-horizontal li a {

  color: white;
  text-align: right;
  padding: 15px 15px;
  text-decoration: none;
}

#brand-name {
  width: 20px;
  height: 20px;
}

nav.navbar-horizontal li a:hover:not(.active) {
  color: red;
}

nav.navbar-horizontal li a .active {
  color: #4CAF50;
}
*/

.navbar{
  height: 50px;
}

.navbar-brand {
  position: absolute;
  left: 5%;
  text-transform: uppercase;
  letter-spacing: 5px;
}

.nav-item img{
  background-color: lightGrey;
  border-radius: 50%;
}

nav.navbar-vertical {
    position: fixed;
    top: 40%;
    bottom: 40%;
    right: 0;
    width: 90px;
}

nav.navbar-vertical ul.dots {
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    right: 15px;
}

nav.navbar-vertical li {
    width: 7px;
    height: 7px;
    border-radius: 50%;
    background-color: black;
    cursor: pointer;
    transition: .5s;
}

ul.dots .active {
    box-shadow: 0 0 0 6px white, 0 0 0 8px black;
}

/* Main page */

#mo-farah {
  width: 100vw;
  height: 115vh;
  opacity: 1;
}

main h1 {
  position: absolute;
  left: 0;
  top: 80%;
  width: 100%;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 5px;
  font-size: 40px;
  font-weight: 600;
  line-height: 1.5;
  color: white;
}

/* About page */

div.subSection{
  width: 100vw;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 60px;
}

#subSection1, #subSection3 {
  height: 15vh;
  opacity: 0.7;
}

#subSection1 h1, #subSection3 h1{
  text-transform: uppercase;
  letter-spacing: 5px;
  font-size: 30px;
  font-weight: 600;
  line-height: 1.5;
  color: black;
}

#subSection2 {
  height: 60vh;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  letter-spacing: 1px;
  font-size: 20px;
  padding: 0 20%;
  border-bottom: ridge 3px lightGrey;
  border-top: ridge 3px lightGrey;
  background-image: ;
  opacity: 1;
}

#subSection2 p{
  opacity: 1;
}

#main{
  padding: 40px 0px;
}

.col-md-6, .col-sm-12 {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  text-align: justify;
  align-content: flex-start;
}

#about-contributors h2 {
  padding: 10px 10px;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 18px;
  line-height: 1.5;
  font-family: chronicle text g1 a,chronicle text g1 b;
}

#about-contributors h2.mo {
  text-transform: lowercase;
  letter-spacing: 1px;
  font-size: 18px;
  line-height: 1.5;
  font-style: italic;
  color: #666;;
  font-family: chronicle text g1 a,chronicle text g1 b;
}

#about-contributors p {
  padding: 10px 60px;
}

#about-contributors .avatar {
  width: 300px;
  height: 300px;
  border-radius: 70%;
  border: dotted 2px lightGrey;
}

/* Theme sections */

section {
  min-height: 100vh;
}

#sections .row {
  padding: 20px 0px;
}

#sections .col-md-6 .section-text {
  margin: 2px 10px;
  min-height: 75vh;
}

/* Parallax */

.section-title {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 5px;
  font-size: 30px;
  font-weight: 600;
  line-height: 1.5;
  color: black;
  height: 40vh;
  opacity: 0.7;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.section1 .section-title {
  background-image: url("../img/running_main.jpg");
}

.section2 .section-title{
  background-image: url("../img/sailing_main.jpg");
}

.section3 .section-title{
  background-image: url("../img/climbing_main.jpg");
}

.section4 .section-title{
  background-image: url("../img/wakesurfing_main.jpg");
}

.section-text {
  padding: 20px;
  text-align: center;
  text-align: justify;
}

.section-text h6 {
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 14px;
  color: #666;
  font-weight: 600;
}

.section-quote {
  width: 100%;
  text-align: right;
  line-height: 5px;
}

.section-quote p{
  padding: 0px 30px;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 14px;
  color: #666;
  font-style: italic;
  font-family: chronicle text g1 a,chronicle text g1 b;
}

#photoContainer {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
  max-width: 25%;
  align-items: stretch;
}

img {
  max-width: 100%;
  height: auto;
  vertical-align: middle;
  padding: 2px;
  opacity: 0.9;
}

/* Contacts and Footer */

#subSection3 {
  background-image: url("../img/banner_halftone.png");
}

#contacts-wrap {
  background-image: url("../img/banner_halftone.png");
}

#contacts-wrap .container{
  width: 80%;
}

/* footer css */
#footer {
  padding-top: 40px;
  background-image: url("../img/banner_halftone.png");
}

.footer-socials {
  margin-right: 10px;
}

/*For visual purposes - remove after testing
 div {
  border: 1px solid black;
} */
