* {
  padding: 0;
  margin: 0;
  border: 0;
  list-style-type: none;
}

nav.navbar {
  width: 100%;
  margin-top: 5%;
  background-image: linear-gradient(15deg, grey 10%, white 65%);
}

nav.navbar-vertical {
    position: fixed;
    top: 45%;
    bottom: 45%;
    right: 15px;
    width: 60px;
}

nav.navbar-vertical ul.dots {
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

nav.navbar-vertical li {
    width: 7px;
    height: 7px;
    border-radius: 50%;
    background-color: black;
    cursor: pointer;
    transition: .5s;
}

ul.dots .active {
    box-shadow: 0 0 0 6px white, 0 0 0 8px black;
}

::-webkit-scrollbar {
  display: none;
}

div.clear {
  clear: both;
}

.main-wrap {
    width: 100%;
    margin: 0 auto;
}

body {
  width: 100%;
  min-height: 100%;
  <!-- the entire measurement of the screen -->
  padding: 0;
  margin: 0;
  font: 400 15px/1.8 "Lato", sans-serif;
  color: #777;
}
